@use "sass:color";

// カラーテーマ変数
$color-night_sky: #000033;
$color-moonlight: #ffff66;
$color-glimmer: #ccffff;
$color-aqua: #33ccff;

// ドットフォント
body {
  font-family: 'DotGothic16', monospace;
  background-color: $color-night_sky;
  color: $color-aqua;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

a {
  background-color: $color-glimmer;
  color: $color-night_sky;
  padding: 0 0.5em;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;

  &:hover {
    background-color: color.scale($color-aqua, $lightness: 10%);
  }
}


.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 1em;
}

header {
  text-align: center;

  h1 {
    font-size: 2em;
    color: $color-moonlight;
    margin-bottom: 0.25em;
    border-bottom: 2px dotted $color-moonlight;
    padding-bottom: 0.25em;
  }

  .username {
    font-weight: bold;
    color: $color-moonlight;
    font-size: 1.2em;
  }

}

.login-container{
  a.login-button {
    display: block;
    margin: 2em auto;
    width: max-content;
  } 
  h1{
    color:$color-moonlight;
    font-size: 1em;
  }
}

.post-list {
  border: 1px dotted $color-glimmer;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgba(255, 255, 255, 0.05);
}

.post {
  padding: 0.5em;
  border-bottom: 1px dotted $color-glimmer;

  &:last-child {
    border-bottom: none;
  }

  .post-header {

    .timestamp {
      font-size: 0.75em;
      color: $color-glimmer;
    }

    .username {
      font-weight: bold;
      color: $color-moonlight;
    }

  }
  .post-message {
    margin-top: 0.5em;
    color: $color-glimmer;
  }
}

.post-form {
  form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2em;

    textarea {
      font-family: 'DotGothic16', monospace;
      background-color: color.change($color-aqua, $alpha: 0.2);
      color: $color-moonlight;
      border: 1px dotted $color-glimmer;
      resize: vertical;
      margin: 1em;
      padding-bottom: 3em;
      box-sizing: border-box;
      height: 100px;
      &::placeholder {
        color: color.change($color-glimmer, $alpha: 0.8);
      }
    }

    button {
      position: absolute;
      right: 3em;
      bottom: 0.5em;
      padding: 0.3em 2em;
      font-size: 0.9em;

      font-family: inherit;
      background-color: $color-moonlight;
      color: $color-night_sky;
      border: none;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        background-color: color.scale($color-aqua, $lightness: 10%);
      }
    }
  }
}

footer {
  margin-top: 2em;
  text-align: center;
  font-size: 0.75em;
  color: $color-glimmer;
}

// スマホ対応
@media screen and (max-width: 640px) {
  .container {
    padding: 0.5em;
  }

  header h1 {
    font-size: 1.5em;
  }

  .post-form form textarea {
    font-size: 14px;
  }

  .post {
    font-size: 14px;
  }
}
